#titulo {
  font: bold;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #047004;
  margin-left: 10px;
}

#subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #191a20;
  margin-left: 10px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: #191a20;
}

#resultados > h3 {
  font-family: "Poppins", sans-serif;
  color:black;
  margin-top: 20px;
  margin-left: 10px;
}
#resultados > h4 {
  font-family: "Poppins", sans-serif;
  color: #047004;
  margin-left: 10px;
}

#principal > #bienvenida{
  font-family: "Poppins", sans-serif;
  color:red;
  margin-top: 20px;
  margin-left: 10px;
}
#principal, #resultados > .main-button{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  margin-left: 10px;
}

.main-button{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  margin-left: 10px;
}

#ingresoDatos {
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float:none;
  }  
#ingresoDatos > div {
  background-color: yellowgreen;
  border-radius: 15px 45px 15px 45px;
  border-collapse:separate;
  width: 30%;
  padding: 19px;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#ingresoDatos > div > p{
  color:aliceblue;
}
#ingresoDatos > div > h3{
  color:#191a20;
  font: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#ingresoDatos > #botoneraAcciones {
  width: 100%;
  height: auto;
  background-color: white;
  margin-left: 0px;
}
#ingresoDatos > #botoneraAcciones > .labelsFormulario{
  color: black;
}
#ingresoDatos > #botoneraAcciones > .subtexto{
  color: black;
}
#ingresoDatos > #botoneraAcciones > p {
  color: red;
  font-weight: bold;
}
#ingresoDatos > #botoneraAcciones > .inputsFormulario{
  border: 1px solid black;
}
#ingresoDatos > #botoneraAcciones > .main-button{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  margin-left: 0px;}


.labelsFormulario{
  color:aliceblue;
  font-weight: bold;
}

.subtexto {
  color:white;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-left: 35px;
  margin-top: -5px;
  margin-bottom: 2px;
}

.inputsFormulario{
  color: black;
  font: bold;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 5px; 
  border-radius: 5px;
  border: none;
}

.selectorRecomendador{
  width: 200px;
  height: 225px;
  border: 3px solid green;
  border-radius: 12px;
  float: left;
  margin: 0px auto;
  padding: 3px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.selectorRecomendador > .main-button{
  width: 150px;
  margin:0px auto;
  margin-top: 5px;
  padding: 10px;
}

.iconSelector{
  width: 150px;
  padding-bottom: -50px;
}



#recomendaciones > h3 {
  font-family: "Poppins", sans-serif;
  color:black;
  margin-top: 20px;
  margin-left: 10px;
}
#recomendaciones > h4 {
  font-family: "Poppins", sans-serif;
  color: #047004;
  margin-left: 10px;
}
#recomendaciones > .main-button{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  margin-left: 10px;
}